body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    text-align: center;
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
}

.row > h3 {
    margin: 0 5px 0 15px;
}

.col {
    width: 50%;
    margin: 0 0 15px 0;
}

.income {
    color: #2ecc71;
}

.expense {
    color: #c0392b;
}

h2 {
    margin: 0;
}

form.row {
    margin-bottom: 10px;
}

button.add {
    position: relative;
    display: inline-block;
    font-weight: bold;
    margin-left: 5px;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #ffffff;
    background: #77bfe9;
    border-radius: 0 15px 15px 0;
    transition: .4s;
  }

  button.delete {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #ffffff;
    background: #db4a4a;
    border-radius: 0 0 13px 0;
    transition: .4s;
  }
  
  button:hover {
    background: #40124e;
  }

  table {
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto;

  }
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  tr:hover {
    background-color: #f2f9ff;
  }